.header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  padding: 20px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 60px;
}

nav ul li a {
  color: #a46b00;
  text-decoration: none;
  transition: 0.1s ease-in;
}

nav ul li a:hover {
  color: #ffaf18;
}

.logo {
  width: 100px;
}

.title {
  color: #ffc468;
  font-size: 24px;
  max-width: 50%;
  margin-left: 5px;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-right: 20px;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
}

.mobile-menu {
  display: none;
}

.nav {
  right: -100%;
  transition: right 0.3s ease-in-out;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: #fff;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav.open {
  display: block;
  right: 0;
}

.mobile-nav-list {
  list-style-type: none;
}

.mobile-nav-list a {
  color: #a46b00;
  text-decoration: none;
  transition: 0.1s ease-in;
}

.mobile-nav-list li {
  margin-bottom: 20px;
}

.close-mark {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

@media screen and (max-width: 880px) {
  nav {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
}

@media screen and (min-width: 880px) {
  .mobile-menu {
    display: none;
  }

  .nav {
    display: none;
  }
}
