<section class="hero">
  <h2 class="best-pizza">
    Самая вкусная пицца в мире
    <span class="yellow-highlight">только в Pizza Cheff</span>
  </h2>
  <div class="flex-wrapper">
    <div class="qualities">
      <div class="quality">
        <img src="../../assets/img/hop.jpg" alt="hop" />
        <div class="quality-info">
          <p class="quality-title">Лучшее тесто</p>
          <p class="quality-description">
            Мы создаем тесто только из отборной итальянской муки наивысшего
            качества
          </p>
        </div>
      </div>
      <div class="quality">
        <img src="../../assets/img/kitchen-pack.jpg" alt="kitchen-pack" />
        <div class="quality-info">
          <p class="quality-title">лучшие повара</p>
          <p class="quality-description">
            Пиццы готовят самые профессиональные итальянские повара
          </p>
        </div>
      </div>
      <div class="quality">
        <img src="../../assets/img/seo-and-web.jpg" alt="seo and web" />
        <div class="quality-info">
          <p class="quality-title">гарантия качества</p>
          <p class="quality-description">
            Наша пиццерия получила множество наград и признаний по всему миру
          </p>
        </div>
      </div>
      <div class="quality">
        <img src="../../assets/img/holidays.jpg" alt="holidays" />
        <div class="quality-info">
          <p class="quality-title">отборные рецепты</p>
          <p class="quality-description">
            Мы используем рецепты от мировых лидеров в изготовлении пиццы
          </p>
        </div>
      </div>
    </div>

    <div class="pizza-big-image">
      <img src="../../assets/img/pizza_big.jpg" alt="pizza" />
    </div>
  </div>
  <button class="choose-pizza-btn">Выбрать пиццу</button>
</section>
