.hero {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 20px;
}

.best-pizza {
  color: #b99150;
  font-size: 45px;
  font-weight: 800;
  max-width: 800px;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.yellow-highlight {
  color: #ffaf18;
}

.qualities {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
}

.quality {
  max-width: 320px;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 50px;
}

.quality-info {
  margin-left: 20px;
}

.quality-title {
  color: #ffaf18;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.quality-description {
  color: #b99150;
  font-size: 16px;
}

.choose-pizza-btn {
  background-color: #ffaf18;
  color: #382400;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  margin-top: 20px;
  width: 224px;
  transition: all 0.3s;
}

.choose-pizza-btn:hover {
  background-color: #ffc468;
}

@media screen and (max-width: 1200px) {
  .hero {
    text-align: center;
    margin-top: 50px;
  }
  .flex-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .best-pizza {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  .pizza-big-image {
    text-align: center;
  }

  .pizza-big-image img {
    width: 80%;
  }

  .choose-pizza-btn {
    width: 100%;
  }

  .qualities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
